In [1]:
import pandas_datareader.data as web

In [2]:
import datetime

In [3]:
start = datetime.datetime(2019,1,20)
end = datetime.datetime(2019,1,29)

In [8]:
import pandas as pd 
code_df = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13', header=0)[0] 
# 종목코드가 6자리이기 때문에 6자리를 맞춰주기 위해 설정해줌 
code_df.종목코드 = code_df.종목코드.map('{:06d}'.format) 
# 우리가 필요한 것은 회사명과 종목코드이기 때문에 필요없는 column들은 제외해준다. 
code_df = code_df[['회사명', '종목코드']] 
# 한글로된 컬럼명을 영어로 바꿔준다. 
code_df = code_df.rename(columns={'회사명': 'name', '종목코드': 'code'}) 
code_df.head()

    name    code
0     CJ  001040
1  CJ씨푸드  011150
2  HSD엔진  082740
3  KG케미칼  001390
4    OCI  010060

In [10]:
# 종목 이름을 입력하면 종목에 해당하는 코드를 불러와 
# 네이버 금융(http://finance.naver.com)에 넣어줌 
def get_url(item_name, code_df): 
    code = code_df.query("name=='{}'".format(item_name))['code'].to_string(index=False) 
    url = 'http://finance.naver.com/item/sise_day.nhn?code={code}'.format(code=code.strip()) 
    print("요청 URL = {}".format(url)) 
    return url 
# 신라젠의 일자데이터 url 가져오기 
item_name='LG디스플레이' 
url = get_url(item_name, code_df) 
# 일자 데이터를 담을 df라는 DataFrame 정의 
df = pd.DataFrame() 
# 1페이지에서 20페이지의 데이터만 가져오기 
for page in range(1, 21): 
    pg_url = '{url}&page={page}'.format(url=url, page=page) 
    df = df.append(pd.read_html(pg_url, header=0)[0], ignore_index=True) 
# df.dropna()를 이용해 결측값 있는 행 제거 
df = df.dropna() 
# 상위 5개 데이터 확인하기 
df.head()

요청 URL = http://finance.naver.com/item/sise_day.nhn?code=034220

           날짜       종가    전일비       시가       고가       저가        거래량
1  2019.01.30  19750.0  750.0  20800.0  21100.0  19600.0  4880363.0
2  2019.01.29  20500.0  350.0  20150.0  20600.0  20100.0  1935160.0
3  2019.01.28  20150.0  150.0  20300.0  20350.0  19950.0  1549538.0
4  2019.01.25  20300.0  450.0  19900.0  20400.0  19850.0  2055931.0
5  2019.01.24  19850.0   50.0  19900.0  20000.0  19700.0   982080.0